body{
    background-color: #f2f2f2;
    margin:0px;
    font-family: "Exo";
    font-weight: bold;
} 
/*header*/
header{
    color: #091740;
    display: flex;
    height: 172px;
    background-color: #091740;
    justify-content: space-around;
}
.div1header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.div2header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
ul{
    font-family: "Exo";
    font-weight: bolder;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}
li{
    margin:0em 2em;
}
#sectCoulisseInterview > article > h1{
    font-family: Coolvetica, Arial, sans-serif;
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 5vw;
    color: #f2f2f2;
    text-align: center;
}
a{
    color: #091740;
    text-decoration: none;
}
p{
    border-radius: 5px 5px 0px 0px;
    font-family: "Exo";
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f2f2f2;
    text-align: center;
}
/*Footer*/  
footer{
    
    background-color: #091740;
    display: flex;
    height: 204px;
}
.image-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #F2F2F2;
    background-color: #091740;
}
footer div table th{
    padding:0 3em;
    color: #F2F2F2;
}
footer div table{
    display: flex;
    bottom: 10px;
}


/* backstage */

#backstage-iframe {
    margin:16px 0;
    width: 100%;
    height:45vw;
}
main > #sectCoulisseInterview > article{
    text-align: center;
    color: white;
    background-color: #070e26;
    margin:0 25px;
    border-radius: 20px;
}
main > #sectCoulisseInterview > article > h1{
    text-decoration: underline;
}
#sectCoulisseInterview > article > figure{
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}
#sectCoulisseInterview > article + article{
    background-color: #f2f2f2;
    color: #070e26;
    margin-bottom: 5em;
}
#sectCoulisseInterview > article + article > h1{
    color: #070e26;
}

main nav > #secondMenu > li   {
    padding: 3% 9%; 
    background-color: #070e26;
    color: hsl(0, 0%, 95%);
    border-radius: 15px;
    font-size: 3vw; 
    margin: 0 2%;
    white-space: nowrap;
}
main nav > #secondMenu > li > a   {
    color: hsl(0, 0%, 95%);
}
main > #sectCoulisseInterview > article > figure img{
    width : 35vw;
    display: flex;
    
}

main nav > #secondMenu{
    display: flex;
    font-family: "Exo";
    font-weight: bold;
    justify-content: center;
    list-style-type: none;
}

#videoPopup {
    display: none;
    position: fixed;
    border-radius: 20px;
    border: solid black 2px;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #070e26b4;
    padding: 20px;
    
}
#videoPopup > div > iframe{
    width: 65vw;
    height: 35vw;
    border-radius: 20px;
}
#videoPopup img{
    width:35px;
    right: 0;
}

#videoPopup div{  
    display:flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

@media screen and (max-width: 480px){

    main > #sectCoulisseInterview > article > figure img{
        width : 20em;
        display: flex;
        
    }
    main > #sectCoulisseInterview {
        display: flex;
        flex-direction: column;
    }

    main > #sectCoulisseInterview > #coulisse {
        order: 2;
        
        border-radius: 0;
        margin: 0;
        margin-bottom: 2em;
    }

    main > #sectCoulisseInterview > #interview {
        order: 1;
        margin-bottom: 0;
        
    }

    #sectCoulisseInterview > article > h1{
        font-size: 35px;
        margin: 5px 0;
    }
}
@font-face {
    font-family: "Coolvetica";
    src: url('./Polices_woff/coolvetica_woff/coolveticarg.woff') format('woff'), url('./Polices_woff/coolvetica_woff/coolveticarg.woff2') format('woff2');
}

@font-face {
    font-family: "Exo";
    src: u/Prl('./Polices_woff/Exo_woff/Exo-VariableFont_wght.woff') format('woff'), url('./Polices_woff/Exo_woff/Exo-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: "IniSans";
    src: url('./Polices_woff/ini-sans_woff/IniSans.woff') format('woff'), url('./Polices_woff/ini-sans_woff/IniSans.woff2') format('woff2');
}