html{
    height: 400px;
}
body{
    margin: 0;
    background-color: #f2f2f2;
}
.detailsaison{
    margin: 50px;
    display: flex;
    flex-direction: column;
}
header{
    color: #091740;
    display: flex;
    height: 172px;
    background-color: #091740;
    justify-content: space-around;
}
.div1header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.div2header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.ulheader{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.ulheader>li{
    background-color: #091740;
    padding: 0;
    margin: 0;
    font-size: auto;

}
.h1blanc{
    margin-bottom: 0;
    font-size: 3.5em;
    font-family: "Coolvetica";
    color: #f2f2f2;
    text-align: center;
}
.h1bleue{
    margin-bottom: 0;
    font-size: 3.5em;
    font-family: "Coolvetica";
    color: #091740;
    text-align: center;
}
.h2bleue{
    font-size: 3em;
    font-family: "Coolvetica";
    color: #091740;
    margin: 0;
}
.h2blanc{
    font-size: 3em;
    font-family: "Coolvetica";
    color: #f2f2f2;
    margin: 0;
}
h3{
    font-size: 2em;
    font-family: "Coolvetica";
    color: #091740;
    margin: 0;
}
h4{
    text-align: center;
    font-family: "Coolvetica";
    color: #091740;
  }
  
h5,article,p{
    font-family: "exo";
    color: #091740;
    font-weight: bold;
}

a{
    color: #091740;
    text-decoration: none;
}
.pheader{
    border-radius: 5px 5px 0px 0px;
    font-family: "Exo";
    font-weight: bold;
    padding: 5px 10px;
    background-color: #868EA6;
    text-align: center;
    margin:0em 2em;
    font-size: 15px;
    
}
.pheader:hover{
    background-color: #f2f2f2;
}
.actuel{
    background-color: #f2f2f2;
}
.articleflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}
.deroule{
    display: none;
    background-color: #091740;
    padding: 0;
}
.sous{
    display: none;
    flex-direction: column;
    margin: 0;
    font-size: 1.75vw;
    align-items: flex-start;
    background-color: #868EA6;
    position:absolute;
    left: 0px;
    top: 172px;
    z-index: 300;
}
.sous li a{
    color: #F2F2F2;
}
nav:hover .sous{
    display: flex;
}
nav ul {
    padding: 0;
}
nav{
    height: 172px;
}
.wrap{
    text-align: center;
    flex-wrap: wrap;
}
.articleflex>img{
    width: 60%;
}
article{
    margin: 10px;
}

.articledegrade{
    border-radius: 20px;
    background: linear-gradient(#091740,80%,#394A97);
    margin: 3em 0;
    padding: 3em;
}

.pbleue{
    color: #091740;
    font-family: "Exo";
    text-align: center;
    font-size: 2.5vw;
    font-weight: 700;
}
.pblanc{
    color: #f2f2f2;
    font-family: "Exo";
    text-align: start;
    font-size: 2.5vw;
    font-weight: 700;
}
.min{
    font-size: 1.5vw;
    
}
table{
    color: #091740;
    font-family: "Exo";
    font-weight: bold;
}
.divnote{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.etoile{
    width: 3vw;
    height: 3vw;
}

.divnote>p{
    font-family: "Coolvetica";
    font-size: 2vw;
    margin-top: 10px;
    font-weight: bold;
    color: #868EA6;
}

.p_min{
    color: #868EA6;
    font-family: "Exo";
    font-weight: bold;
    margin: 0;
    text-align: center;
}
video{
    border-radius: 20px;
    width: 40vw;
    height: auto;
    margin-top: 3em;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    margin:32px auto;
}
li{
    background-color: #394A97;
    padding: 1em 2em;
    border-radius: 10px;
    color: #f2f2f2;
    font-family: "Exo";
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em;
}

.block-total{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.block-total>div{
    background-color: #f2f2f2;
    width: 350px;
    height: 250px;
    text-align: center;
    border-radius: 20px;
    margin: 1em;
}
.pblock{
    color: #091740;
    font-family: "Exo";
    font-weight: bold;
    margin: 16px 30px;
    text-align: center;
}
figure>img{
    width: 15vw;
}



/* css details_saison */

body {
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
}

main {
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    display: inline-block;
    border-radius: 10px;
}

p {
    font-family: Exo, Arial, sans-serif;
    font-weight: bold;
}


.changement_saison {
    margin: 1em auto;
}

.changement_saison a {
    background-color: #868EA6;
    color: black;
    display: inline-block;
    width: 10em;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5em;
    font-family: Exo, Arial, sans-serif;
    font-weight: bold;
}

.changement_saison a:hover {
    background-color: #091740;
    color: white;
}

.changement_saison p {
    background-color: #C0C0C0;
    color: #7F7F7F;
    display: inline-block;
    width: 10em;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0.5em;
}


/* Section Acteurs */

#acteur div div {
    background-color: #868EA6;
    width: 30%;
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;

}

#acteur p {
    display: inline-block;
    margin-left: 30px;
}

#acteur img {
    height: 100px;
    border-radius: 50px;
}


/* Bande anonce */

img.trailer {
    display: block;
    margin: 50px auto;
    width: 80%;
}


/* Section Extraits */

#extraits section {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#extraits div {
    position: relative;
}

#extraits section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F2F2);
}

#extraits section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F2F2);
}

#extraits img {
    height: 300px;
    margin: 20px;
}


/* Section Photos */

#photos section {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#photos img {
    margin: 20px;
    height: 400px;
}

#photos div {
    position: relative;
}

#photos section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F2F2);
}

#photos section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F2F2);
}


/* Section Episode */

#episodes section {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#episodes div div {
    display: inline-block;
    width: 300px;
    background-color: #868EA6;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

#episodes img {
    width: 100%;
}

#episodes div div:hover {
    position: relative;
    right: 10px;
    bottom: 10px;
    box-shadow: 10px 10px 10px #070E26;
}

#episodes div div div:hover {
    box-shadow: none;
    right: 0;
    bottom: 0;
}

#episodes p {
    height: 250px;
    overflow-y: scroll;
    margin: 0;
    padding: 20px 0;
}

#episodes > div,
#episodes div div div {
    position: relative;
    margin: 0;
    padding: 0;
}

#episodes section::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F2F2);
    z-index: 1;
}

#episodes section::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F2F2);
}

#episodes p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #868EA6);
}

#episodes p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #868EA6);
}


/* Affichage sur mobile */

@media screen and (max-width: 1400px) {

    #acteur div div {
        width: 45%;
    }

    img.trailer {
        width: 90%;
    }
}


@media screen and (max-width: 960px) {
    
    #acteur section {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    #acteur div div {
        flex-grow: 0;
        flex-shrink: 0;
        width: 400px;
        margin: 0 20px;
    }

    #acteur > div {
        position: relative;
    }
    
    #acteur section::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), #F2F2F2);
    }
    
    #acteur section::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), #F2F2F2);
    }    

    img.trailer {
        width: 100%;
    }

    #resume {
        order: 98;
    }

    .changement_saison_bas {
        order: 99;
    }
}

/* avis critique */

.title{
    display: flex;
    justify-content: center;}

.Fblanc{
   background-color: #394A97;
   color: #F2F2F2;
   font-size: 2vw;
   text-align: center;
   margin:  0.9vw 10vw;
   border-radius: 11px;
}
  .p1{
    font-family: "IniSans";
    font-size: 3vw;
    margin: 0;
    padding-top: 0;
    padding-right: 0.5em;
    
  }
  .user:hover{color: #F2F2F2;
    background-color: #091740;
    padding: 0.5em;
  border-radius: 5px;}
.user{color: #F2F2F2;}

  
  main{
    background-color: #f2F2F2;
    
  }
  
  .presse_spectateur{
    display: flex;
    justify-content: space-around;
  }
  .presse {
    width: 40%;
    padding: 0.5em;
    
    
  }
  .presse div{
    padding: 0.5em;
    background-color: #868EA6;
    border-radius:11px ;
    overflow-y: scroll;
    height: 30vw;
  
    
  } 
  .bouton{
    background-color:#7CB4E8 ;
    color: #F2F2F2;
    padding: 0.5em;
    border-radius: 5px;
    text-decoration: none;
    font-family: "IniSans";
    
    
  }
  .bouton:hover{
    background-color: #091740;
    color: #F2F2F2;
  }
  .place{
    display:flex;
    justify-content: flex-end;
    height: 50px;
  
  }
  .spectateur{
    
    width: 40%;
    padding: 0.5em;
    
  }
  .spectateur div{
  background-color: #868EA6;
  border-radius:11px ;
  padding: 0.5em;
  
  }
  .spectateur div div {
    display : flex;
    justify-content: center;;
  }
  .avis{display: flex;}
  
  .test {
    height: 250px;
    width:100% ;
  }
  .test img{
    height: 100%;
    width: 100%;
  }
  .avis p {line-height: 2.8em;}
  
  
  .partie2{
    background: linear-gradient(#394A97, #091740);
    display: flex;
    
  }
  .partie2 div{
    width: 50%;
    padding: 1em;
  }
  .partie2 div div{
    display: flex;
    padding :0.5em;
  }
  .Ellipse{
    width: 10vw;
    height: 10vw;
  }
  .partie2 div div p a{
    position:relative;
    top: 1.5em;
    left:0.3em;
    color: F2F2F2;
    text-decoration: underline;
  }
  .commentNonVerif{
    background-color: #868EA6;
    display: flex;
  }
  .commentNonVerif div {
    width: 50%;
    display: block;
  }
  .name{
    padding: 0 56px 0 0; 
  }
  .add{
    margin: 10px 0 0 0;
    
  }








/* footer */

footer{
    justify-content: center;
    background-color: #091740;
    display: flex;
    height: 20%;
  }
  .image-centre{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer p{
    color: #F2F2F2;
  }
  footer div table th{
    padding:0 5vw;
    color: #F2F2F2;
  }
  footer div table{
    justify-content: center;
    display: flex;
    bottom: 10px;
  }
  .footer-P{
    margin-top: 2em;
    font-family: "Exo";
    background-color: #091740;
  }
  .star {
    font-size: 24px;
    color: gray;
    cursor: pointer;
  }

  .star.selected {
    color: gold;
  }
  @media screen and (max-width: 1050px) {
    footer div table th{
        padding:0 1.5vw;
      }
      .footer-P{
        margin-top: 1em;
      }
  }



@font-face {
    font-family: "Coolvetica";
    src: url('./Polices_woff/coolvetica_woff/coolveticarg.woff') format('woff'),
         url('./Polices_woff/coolvetica_woff/coolveticarg.woff2') format('woff2');
}

@font-face {
    font-family: "Exo";
    src: url('./Polices_woff/Exo_woff/Exo-VariableFont_wght.woff') format('woff'),
         url('./Polices_woff/Exo_woff/Exo-VariableFont_wght.woff2') format('woff2');
}

@font-face {
    font-family: "IniSans";
    src: url('./Polices_woff/ini-sans_woff/IniSans.woff') format('woff'),
         url('./Polices_woff/ini-sans_woff/IniSans.woff2') format('woff2');
}
@media (max-width:1050px){
    .pheader{
        display: none;
    }
    .div1header{
        display: none;
    }
    header{
        align-items: center;
    }
    .deroule{
        display: flex;
    }
}